body{
	background-color: rgb(60, 60, 60);
	color: yellowgreen;
}

div.container-2{
	display: grid;
	grid-template-areas: 
	"item1 item2";
}

h1.my-header-1{
	padding:20px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: yellowgreen;
}

h2.my-header-2{
	text-align: center;
	padding: 50px;
	margin: 5px;
	color: rgb(60, 60, 60);
	background-color: yellowgreen;	
}

div.column-1{	
	grid-area: item1;
}

div.column-2{	
	grid-area: item2;
	border: 10px solid yellowgreen;
	padding: 25px;
	background-color: rgb(234, 234, 234);
	color: rgb(60, 60, 60);
}

h3{
	color:white;
	font-family: Copperplate, Papylus, cursive;
}

div.testimonials{
	border: 10px;
	border-style: double;
	margin: 20px;
	display: grid;
	grid-template-areas:
	"tes tes tes tes" 
	"tes1 tes2 tes3 tes4";
}

div.tes-title{
	grid-area: tes;
	text-align: center;
}

div.testi-1{
	grid-area: tes1;
}

div.testi-2{
	grid-area: tes2;
}

div.testi-3{
	grid-area: tes3;
}

div.testi-4{
	grid-area: tes4;
}

.testi-1, .testi-2, .testi-3, .testi-4{
	text-align: justify;
	margin: 25px;
	padding: 10px;
	background-color: white;
	color: rgb(60, 60, 60);
	border: 4px solid yellowgreen;
}

div.gallery{
	margin: auto;
}

h2.my-gallery{
	text-align: center;
}

img.lght{
	width: 18%;
	height: 18%;
}

img.nght{
	width: 22.5%;
	height: 22.5%;
}

img.dg{
	width: 20%;
	height: 20%;
}

img{
	width:10%;
	height:10%;
	image-rendering: auto;
}

div.goals{
	background-color: greenyellow;
	color: rgb(60, 60, 60);
	text-align: center;
}

ul.goal-list{
	display: inline-block;
	text-align: left;
}

h1.my-gallery{
	text-align: center;
}

div.container-3{
	display: grid;
	grid-template-areas: 
	"itm1 itm2";
	margin: 20px;
}

div.goals{
	grid-area: itm1;
	margin: 20px;
}

div.your-comment{
	grid-area: itm2;
	margin: 20px;
	border: 5px dotted white;
}

div.team-comment, div.comment-form{
	margin: 20px;
}

h2#comments{
	padding: 5px;
	background-color: yellowgreen;
	color: rgb(60, 60, 60);
}

button{
	background-color: yellowgreen;
}

div.comment-form{
	display: grid;
	grid-template-areas: 
	"com1 com2 ."
	"com3 com4 ."
	". com5 .";
}

div.com-1{
	grid-area: com1;
	text-align: right;
	margin: 5px;
}

div.com-2{
	grid-area: com2;
}

div.com-3{
	grid-area: com3;
	text-align: right;
	margin: 5px;
}

div.com-4{
	grid-area: com4;
}

div.com-5{
	grid-area: com5;
}

input#name, input#comment{
	width: 195px;
}
