body {
  background-color: #D4DDF7;
  font-family: sans-serif;
  font-size: 1em;
}

.content {
  margin-left: 2em;
  margin-right: 2em;
}

#content_container {
  background-color: #ffffff;;
  max-width: 50em;
  margin: 0 auto;
  padding-bottom: 4em;
  border-radius: 0.7em;
  border-width: 0.1em;
  border-color: #CCCCCC;
  border-style: solid;
  box-shadow: 1px 1px 9px 1px #777777;
}

#new p , #new p a{
  text-align: center;
  color: red;
}

#title {
  border-top-right-radius: 0.7em;
  border-top-left-radius: 0.7em;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  background-image: url("./images/backdrop.jpg");
  padding-top: 2em;
  padding-bottom: 0.05em;
  margin-bottom: 2em;
}

#title h1 {
  margin-top: 0;
  color: #CCCFD6;
  font-weight: normal;
}

.title-initials {
  font-family: serif;
  font-size: 1.5em;
}

.title-text {
  font-size: 1em;
}

#author_img {
  height: 9em;
  float: left;
}

#intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //height: 9em;
}

#intro p {
  margin-left: 2em;
  max-width: 35em;
}

.section-title {
  font-family: serif;
  font-weight: normal;
}

#works a {
  color: blue;
  text-decoration: none;
}

#works a:hover {
  text-decoration: underline;
}

#gallery {
  padding-bottom: 3em;
}

.gallery-img {
  height: 10em;
}

.comment {
  margin-bottom: 3em;
}

.comment-name {
  font-weight: bold;
}

.comment-text {
  padding-left: 2em;
}

#form_comment {
  margin-top: 4em;
}

#form_comment legend {
  font-weight: bold;
}

#form_comment_name {
  max-width: 19em;
}

#form_comment_text {
  height: 9em;
  width: 19em;
  max-width: 100%;
  vertical-align: middle;
}

td input {
  width: 100%;
}
